<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 50%), url('<%= image_path("background.jpg") %>');">
    <h1>Wedding Raph & Zguy</h1>
    <%= audio_tag("oui.wav", autoplay: true, controls: true) %>
    <div class="banner-content bubbles">
      <%= image_tag("zr.png")  %>
    </div>
    <div class="links">
      <h5>21.07.2018 — Narbonne</h5>
      <h2 style="background-color: #0B409C; padding: 10px;"><a type="button" data-toggle="modal" data-target=".bs-example-modal-lg1" style="text-decoration: none; color: white; cursor: pointer;">Les infos Wedding</a></h2>
      <h2 style="background-color: #10316B; padding: 10px;"><a type="button" data-toggle="modal" data-target=".bs-example-modal-lg2" style="text-decoration: none; color: white; cursor: pointer;">Les hôtels du coin</a></h2>
      <h2 style="background-color: #FFCE63; padding: 10px; text-shadow: #0035a2 1px 1px, #0035a2 -1px 1px, #0035a2 -1px -1px, #0035a2 1px -1px;"><a href="" style="text-decoration: none; color: white">La liste de cadeaux</a></h2>
    </div>
    <div class="mixtape">
      <h3>— Mixtape —</h3>
      <a href="https://open.spotify.com/user/115988117/playlist/4GCQcbgSGhv2Zsq0wyaPuz" target="_blank">
        <%= image_tag("songs.jpg")  %>
      </a>
      <h3>— Vos sons —</h3>
    </div>
      <div class="bottom-img">
      <%= image_tag("Bitmap.png")  %>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2>LES INFOS WEDDING</h2>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2>LES HÔTELS DU COIN</h2>
    </div>
  </div>
</div>
