<% content_for :meta_title, "Wedding Raph & Zguy" %>
<% content_for :meta_description, "We're getting married ! Narbonne - 21/07/2018" %>

<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 50%), url('<%= image_path("background.jpg") %>');">
    <h1>Wedding Raph & Zguy</h1>
    <%= audio_tag("oui.wav", autoplay: true, controls: true) %>
    <div class="banner-content bubbles">
      <%= image_tag("zr.png")  %>
    </div>
    <div class="links">
      <h5>21.07.2018 — Luc sur Orbieu</h5>
      <h3 style="background-color: #70A1D7; padding: 10px;"><a type="button" data-toggle="modal" data-target=".bs-example-modal-lg1" style="text-decoration: none; color: white; cursor: pointer;">Les infos Wedding</a></h3>
      <h3 style="background-color: #70A1D7; padding: 10px;"><a type="button" data-toggle="modal" data-target=".bs-example-modal-lg2" style="text-decoration: none; color: white; cursor: pointer;">Les hôtels du coin</a></h3>
      <h3 style="background-color: #70A1D7; padding: 10px; color: #0035a2;"><a href="http://www.millemercismariage.com/RaphetGuy/liste.html" target="_blank" style="text-decoration: none; color: white">La liste</a></h3>
    </div>
    <div class="mixtape">
      <h3>— Mixtape —</h3>
      <a href="https://open.spotify.com/user/115988117/playlist/4GCQcbgSGhv2Zsq0wyaPuz" target="_blank">
        <%= image_tag("songs.jpg")  %>
      </a>
      <h3>— Vos sons —</h3>
    </div>
      <div class="bottom-img">
      <%= image_tag("Bitmap.png")  %>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2>LES INFOS WEDDING</h2>
        <h4 class="text-center">LE PROGRAMME</h4>
        <p><strong>Samedi 21 Juillet</strong></p>
        <p>Messe à 16h30 - Eglise de Cruscades, 11200 Cruscades.<br><br>
        Cocktail à partir de 18h30 puis dîner et soirée au Château de Luc - 11200 Luc sur Orbieu.</p>
        <p><strong>Dimanche 22 Juillet</strong></p>
        <p>Brunch à partir de 13h sur la plage de Narbonne-Plage au Waïkiki, au niveau du 85 avenue du port !</p>

        <h4 class="text-center">POUR VENIR</h4>
        <p><strong>En train (Billets pas encore disponibles)</strong></p>
        <p>Gare de Narbonne, 4h25 depuis Paris + 20 minutes en voiture jusqu'à Luc</p>
        <p><strong>En voiture</strong></p>
        <p>Depuis Paris 730km - 7h30 de trajet</p>
        <p><strong>En avion (Billets disponibles)</strong></p>
        <p>Aéroports de Perpignan ou Béziers (1h de vol depuis Paris) + 45 minutes de voiture jusqu'à Luc <br>
        Aéroport de Montpellier (1h de vol depuis Paris) + 1h15  de voiture jusqu'à Luc</p>
        <p><strong>Service de navettes disponible la nuit du mariage pour les logements
        à moins de 15 Km.</strong></p>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>* Cliquer sur les titres pour accéder aux sites des hôtels, gîtes etc.</p>
      <h2>LES HÔTELS DU COIN</h2>
      <h4 class="text-center">CHAMBRES D’HÔTES & GÎTES</h4>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.labatissedudelice.com" class="btn-hotel" target="_blank">3 Chambres d'hôte - La Bâtisse du Délice</a></p>
        <p>5 impasse st pierre, 11200 Cruscades <br>
          04 68 45 89 28 <br>
          A partir de 85 € <br>
          A 5 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="https://www.chambres-hotes.fr/chambres-hotes_la-capitelle_boutenac_29412.htm" class="btn-hotel" target="_blank">Chambre d'hôte - La Capitelle - Boutenac - avec piscine</a></p>
        <p>3 rue du Moulin à Vent Gasparets <br>
          04 68 40 12 36 <br>
          A partir de 85 € <br>
          A 5 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.maisonallene.com/Chambres" class="btn-hotel" target="_blank">Chambre d'hôte - Maison Allène</a></p>
        <p>6 rue du 24 Février, 11200 Lézignan-Corbières <br>
          04 68 27 14 48 <br>
          A partir de 80 € <br>
          A 10 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.oasis-corbieres.fr/fr/tarifs-and-reservations/" class="btn-hotel" target="_blank">Chambre d’hôte - L’Oasis des Corbières - Boutenac</a></p>
        <p>6, Chemin de la Pinède <br>
          06 79 67 57 19 / 09 75 51 15 91 <br>
          A partir de 70 € <br>
          A 5 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.demeure-de-roquelongue.com/" class="btn-hotel" target="_blank">Chambre d’hôte - La demeure de Roquelongue - St André de Roquelongue - avec piscine</a></p>
        <p>53, Avenue de Narbonne, <br>
          04 68 45 63 57 / 06 84 11 78 12 <br>
          A partir de 80€ jusqu’à 135€ <br>
          A 13 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.domaine-soleil-couchant.com/" class="btn-hotel" target="_blank">Chambre d’hôte - Domaine Du Soleil Couchant - avec piscine</a></p>
        <p>42, Avenue des Corbières <br>
          04 68 40 97 23 / 06 77 37 53 90 <br>
          A partir de 75€ <br>
          A 13 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.ste-marie-des-ollieux.com/" class="btn-hotel" target="_blank">Chambre d’hôte - Domaine Sainte Marie des Ollieux - Monseret</a></p>
        <p>Domaine Ste Marie des Ollieux - 11200 MONTSERET <br>
          04 68 43 59 20 / 06 75 51 48 65 <br>
          A partir de 60€ jusqu’à 80€ <br>
          A 14 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="https://www.booking.com/hotel/fr/la-maison-de-josepha.fr.html?aid=304142;label=gen173nr-1DCAEoggJCAlhYSDNiBW5vcmVmaGKIAQGYAQ3CAQp3aW5kb3dzIDEwyAEM2AED6AEBkgIBeagCAw;sid=dd57100ffeb37eaebda23334d3ff6f0b;atlas_src=sr_iw_title;checkin=2017-10-13;checkout=201" class="btn-hotel" target="_blank">Chambre d'hôte - La Maison de Josepha</a></p>
        <p>15 Avenue de la Mer, 11200 Ferrals-lès-Corbières <br>
          04 68 43 67 44 <br>
          A partir de 60 € jusqu'à 120 €<br>
          A 10 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.domaine-du-griffon.fr/tarifs/les-tarifs.html" class="btn-hotel" target="_blank">Gîte - Domaine du Griffon</a></p>
        <p>8, Route de Ferrals , 11200 Boutenac<br>
          04 68 27 07 29 <br>
          A partir de 75 € jusqu'à 90 € <br>
          A 10 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://maisondelaroche.fr/" class="btn-hotel" target="_blank">Gîte - Maison de La Roche - avec piscine</a></p>
        <p>27 avenue de Carcassonne, 11200 Ferrals les Corbières<br>
          06 70 59 54 81 ou 04 68 90 60 88  <br>
          A partir de 100 € jusqu'à 150 € <br>
          A 10 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="https://www.chambres-dhotes-domaine-conscience.com/chambres-tarifs/" class="btn-hotel" target="_blank">Gîte - Domaine Conscience</a></p>
        <p>Route de Gasparets , 11200 Ornaisons<br>
          07 50 65 37 15 <br>
          A partir de 80 € <br>
          A 10 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="https://www.gites-de-france.com/location-vacances-Fabrezan-Gite-11G1704.html" class="btn-hotel" target="_blank">2 gites, 2 chambres, 5 couchages 150€ par gite</a></p>
        <p>Route de Gasparets , 11200 Ornaisons<br>
          04 68 43 68 15 ou 06 08 60 32 94 <br>
          A 15 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="https://www.votre-hotel.com/hotel-lezignan-corbieres,auberge-flyzone,445717,fr.htm" class="btn-hotel" target="_blank">Auberge de jeunesse - Auberge FlyZone</a></p>
        <p>Plaine de Conilhace , 11200 Lézignan-Corbières<br>
          A partir de 30 € jusqu'à 50 € <br>
          A 10 minutes en voiture de Luc
        </p>
      </div>

      <h4 class="text-center">HÔTELS</h4>

      <div class="hotel">
        <p class="btn-top"><a href="http://www.relaisduvaldorbieu.com/" class="btn-hotel" target="_blank">Hôtel - Relais du Val d’Orbieu - avec piscine</a></p>
        <p>Route départementale 24 , 11200 Ornaison<br>
          04 68 27 10 27 <br>
          A partir de 70 € jusqu'à 200 € <br>
          A 10 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.lemasdegaujac.fr/hotel-lezignan-corbieres/" class="btn-hotel" target="_blank">Hôtel - Le Mas de Gaujac</a></p>
        <p>Rue Gustave Eiffel, 11200 Lézignan-Corbières<br>
          06 68 58 16 90 <br>
          A partir de 60 € jusqu'à 120 € <br>
          A 10 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.letournedos.com/hotel_restaurant_le_tournedos_-_chambres_renovees__wifi_gratuit__climatisation__television_tnt_.ws" class="btn-hotel" target="_blank">Hôtel - Le Tournedos</a></p>
        <p>Rond Point de Lattre de Tassigny , 11200 Lézignan-Corbières<br>
          04 68 70 29 19 <br>
          A partir de 60 € <br>
          A 10 minutes en voiture de Luc
        </p>
      </div>
      <div class="hotel">
        <p class="btn-top"><a href="http://www.cite-hotels.com/hotels/hotel-de-la-cite/" class="btn-hotel" target="_blank">Hôtel - Hôtel de la cité</a></p>
        <p>Place Auguste Pierre Pont, 11100 Carcassonne<br>
          04 68 71 98 71 <br>
          A partir de 200 € jusqu'à 400 € <br>
          A 30 minutes en voiture de Luc
        </p>
      </div>

      <h4 class="text-center">AIRBNB & BOOKING</h4>
      <p>A partir de 20 € jusqu'à 200 € <br> <br>
        Vous trouverez de parfaits logements: <br>
        Luc sur Orbieu <br>
        Cruscades <br>
        Ornaison <br>
        Lezignan <br>
        sont à 5 - 10 minutes en voiture et + aux alentours, jusqu'à Narbonne, tout à fait faisable.
      </p>
      <p class="btn-top"><a href="https://www.airbnb.fr/" class="btn-hotel" target="_blank">AIRBNB</a></p>
      <p class="btn-top"><a href="https://www.booking.com/index.fr.html?label=gen173nr-1DCAEoggJCAlhYSDNYBGhNiAEBmAENuAEHyAEM2AED6AEBkgIBeagCAw;sid=a1982c4db7ca4ad27a423bad6189e3a5;sb_price_type=total&" class="btn-hotel" target="_blank">BOOKING</a></p>
      <p class="btn-top"><a href="https://www.gites-de-france.com/recherche/location-vacances-aude-11.html" class="btn-hotel" target="_blank">GÎTES</a></p>
    </div>
  </div>
</div>


